.game h1 {
  font-size: 2.5em;
}

.points span {
  font-weight: bold;
}

.tip span {
  color: #ecfa00;
}

.wordContainer {
  margin: 1.5em;
  padding: 1.5em;
  border: 20px solid #ecfa00;
  display: flex;
  
}

.letter,
.blankSquare {
  font-size: 70px;
  line-height: 1.5;
  border: 3px solid #000;
  height: 100px;
  width: 100px;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  font-weight: bold;
}

.letterContainer p {
  margin-bottom: 1.2em;
}

.letterContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.letterContainer input {
  height: 50px;
  width: 50px;
  font-size: 2em;
  text-align: center;
  margin-right: 1em;
}

.score {
  font-size: 1.5em;
}
.scorepoints {
  font-size: 1.9em;
  color: #ecfa00;
}
.frasetry{
  padding-top: 	15px;
  padding-bottom: 15px;
}

.tip {
  font-size: 1.3em;
}
.t5 {
  font-size: 1.3em;
  color: #ecfa00;
}
.t4 {
  font-size: 1.4em;
  color: #c3d100;
}
.t3 {
  font-size: 1.5em;
  color: #faab00;
}
.t2 {
  font-size: 1.6em;
  color: #ff6600;
}
.t1 {
  font-size: 1.7em;
  color: #ff3300;
}
